/*VARIABLES*/

$blue: #47a3da;
$pink: rgb(212,130, 170);
$yellow: rgb(220, 176, 125);
$white: #FFFFFF;

$default-font: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* box sizing */

*, *:before, *:after{
  box-sizing: border-box;
  font-family: $default-font;
}

/* grid */

.grid{
  text-align: justify;
  font-size: 0;
  & > * {
    display: inline-block;
    font-size: medium;
    text-align: left;
    margin-bottom: 50px;
  }
  &:after {
    content:"";
    width: 100%;
    display: inline-block;
   }
  &.top{
    & > * {
      vertical-align: top;
    }
  }
  & .grid-2{
    & > *{
        width: 50%;
    }
  }
}


.tshirt{

  .bigshirt{
      border: 3px solid $blue;
      border-bottom: none;
  }
  .square{
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 0;
    &:after{
      content: "";
      padding-top: 100%;
      display: block;
    }

  }

  .icons{
      border-top: 3px solid $blue;
      border-bottom: 3px solid $blue;
      border right: 3px solid $blue; 
      width: 100%;
      position: relative;
      & .first{
        border-left: none;
      }
    & > *{
      width: 20%;
      border-left: 3px solid $blue;
      margin-top: -3px;
      align-items: center;
    }


  }
}


span{
  display: block;
  position: absolute;
  font-size: 2rem;
}
